@model DATN2.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Danh sách khách hàng</a>
            <span class="breadcrumb-item active">Sửa khách hàng </span>
        </nav>
    </div>
</div>
<h1>Sửa</h1>

<h4>Khách hàng</h4>
<hr />
<div class="row">
    <div class="m-t-25">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Name" class="control-label">Họ và tên</label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="BirthDay" class="control-label">Ngày sinh</label>
                    <input asp-for="BirthDay" class="form-control" readonly />
                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Address" class="control-label">Địa chỉ</label>
                    <input asp-for="Address" class="form-control" readonly/>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Phone" class="control-label">Số điện thoại</label>
                    <input asp-for="Phone" class="form-control" readonly />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" readonly />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CreateDate" class="control-label">Ngày tạo</label>
                    <input asp-for="CreateDate" class="form-control" readonly/>
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LastLogin" class="control-label">lần đăng nhập cuối</label>
                    <input asp-for="LastLogin" class="form-control" readonly />
                    <span asp-validation-for="LastLogin" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group col-md-6">
                <input type="submit" value="Lưu lại" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-danger">Về danh sách</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
