@{
    ViewData["Title"] = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Admin Page</h1>
            </div>
            <div class="clo sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">Blank Page</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Title</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget-"collapse" title="Collapse">
                    <i class="fas fa mimus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget-"collapse" title="Remove">
                    <i class="fas fa-time"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            Start creating your amazing application!
        </div>
        <div class="card-footer">
            footer
        </div>
    </div>
</section>