@{
    ViewData["Title"] = "Bolg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/assets/images/banner/c58f32cc-b6f2-11e7-aaab-cac091044fd5.jpg">
    </div>
    <div class="blog-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 pt-10 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-area mb-9">
                            <h2 class="widgets-title mb-5">Lợi ích của đọc sách</h2>
                            <div class="widgets-item">
                                <ul class="widgets-category">
                                    <li>
                                        Nâng cao hiểu biết
                                    </li>
                                    <li>
                                        Tăng cường kỹ năng tư duy, phân tích, tập trung
                                    </li>
                                    <li>
                                        Đọc sách giúp mở rộng vốn từ
                                    </li>
                                    <li>
                                        Đọc sách giúp rèn luyện trí nhớ
                                    </li>
                                    <li>
                                        Đọc sách giúp giảm căng thẳng
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets-area mb-9">
                            <h2 class="widgets-title mb-5">Yêu sách</h2>
                            <div class="widgets-item">
                                <div class="swiper-container widgets-list-slider style-2">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="product-list-item">
                                                <div class="product-img img-zoom-effect">
                                                    <img class="img-full" src="/assets/images/blog/banner/nhung-cau-noi-hay-ve-sach.png" alt="Blog Images">
                                                </div>
                                                <div class="product-content">
                                                    <h5 class="title mb-3">
                                                        Cải thiện khả năng viết lách
                                                    </h5>
                                                    <div class="blog-meta text-manatee pb-1">
                                                        <ul>
                                                            <li class="date">07/5/2023</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product-list-item">
                                                <div class="product-img img-zoom-effect">
                                                    <img class="img-full" src="/assets/images/blog/banner/nhung-cau-noi-hay-ve-sach.png" alt="Blog Images">
                                                </div>
                                                <div class="product-content">
                                                    <h5 class="title mb-3">
                                                        Điều khiển cảm xúc hiệu quả
                                                    </h5>
                                                    <div class="blog-meta text-manatee pb-1">
                                                        <ul>
                                                            <li class="date"> 07/5/2023</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product-list-item">
                                                <div class="product-img img-zoom-effect">
                                                    <img class="img-full" src="/assets/images/blog/banner/nhung-cau-noi-hay-ve-sach.png" alt="Blog Images">
                                                </div>
                                                <div class="product-content">
                                                    <h5 class="title mb-3">
                                                        Xây dựng thói quen lành mạnh
                                                    </h5>
                                                    <div class="blog-meta text-manatee pb-1">
                                                        <ul>
                                                            <li class="date">07/5/2023</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-1">
                    <div class="blog-detail-item">
                        <div class="blog-img">
                            <img class="img-full" src="/assets/images/blog/large-size/2018-12-21-11.21.13-1-2-small.jpg" alt="Blog Image">
                        </div>
                        <div class="blog-content text-start pb-0">
                            <h5 class="title mb-4">
                                Lợi ích, tác dụng bất ngờ của việc đọc sách
                            </h5>
                            <p class="short-desc mb-4 mb-7">Đọc sách mang đến nhiều lợi ích bất ngờ mà bạn không hề biết đến. Đọc sách đúng cách giúp kích thích não bộ phát triển tốt hơn, hạn chế lão hóa và giảm khả năng mất trí nhớ. Ngoài ra, đọc sách cũng giúp con người ta nâng cao hiểu biết, làm giàu vốn từ, tăng khả năng tư duy, nhìn nhận vấn đề…</p>
                            <blockquote class="pt-6 pb-5 mb-5">
                                <div class="inner-content">
                                    <p class="mb-0">
                                        Đọc sách giúp nâng cao hiểu biết
                                        <span class="user-name ms-5 mb-0">Jont utdo</span>
                                    </p>
                                </div>
                            </blockquote>
                            <p class="short-desc mb-4 mb-9">Sách là nguồn tri thức vô hạn, giúp chúng ta có thể bổ sung kiến thức và nâng cao vốn hiểu biết của chính mình. Ở sách, bạn có thể tìm tòi thêm về văn hoá - chính trị, kinh tế - xã hội, lịch sử hoặc đơn giản hơn là phong cách sống,... Những điều tưởng chừng nhỏ nhặt nhất trong cuộc sống như cách nói lời cảm ơn, xin lỗi cũng được truyền tải nhẹ nhàng và tinh tế qua những trang sách. Có thể nói, sách đóng vai trò “bổ trợ” cho mọi hoạt động giáo dục về nhận thức và ý thức. Đây cũng là lý do chính người ta đưa văn hoá đọc vào chương trình giáo dục mầm non, giúp thế hệ trẻ hình thành thói quen đọc sách ngay từ khi còn nhỏ.</p>
                            <div class="blog-banner pb-10">
                                <div class="single-content pt-4 pt-md-0">
                                    <p class="short-desc mb-4 mb-5">Một trong những tác dụng của việc đọc sách chính là khả năng tăng cường trí nhớ, sự tập trung, cải thiện tư duy và kỹ năng phân tích tình huống. Trong quá trình đọc, não bộ và mọi giác quan được đưa về trạng thái tập trung cao độ. Chính lúc này, khả năng tư duy và phân tích nội dung cũng được đẩy mạnh nhằm tiếp thu tri thức được truyền tải trong mỗi trang sách. Qua đó, giúp chúng ta cải thiện sự tập trung, suy nghĩ cũng trở nên nhanh nhạy và sắc bén hơn.</p>
                                    <p class="short-desc mb-4 mb-0">Mỗi tác giả, mỗi chủ đề lại có cách dùng từ và lối biểu đạt riêng. Do đó, quá trình đọc sách cũng đồng thời giúp chúng ta bổ sung thêm vốn từ vựng của mình, học hỏi thêm nhiều thuật ngữ mới. Từ đây, văn phong của bạn cũng được cải thiện rõ rệt qua từng ngày. </p>
                                </div>
                                <div class="single-img">
                                    <img class="img-full" src="/assets/images/blog/banner/nhung-cau-noi-hay-ve-sach.png" alt="Blog Banner">
                                </div>
                            </div>
                            <p class="short-desc mb-4 mb-10">Có thể giảm được căng thẳng, áp lực cho người đọc có lẽ là điều ít ai biết khi nói đến tác dụng của sách. Những đầu sách như tiểu thuyết, truyện cười, truyện về cuộc đời của những danh nhân,... là “liều thuốc” bổ trợ cực mạnh cho tâm trạng của chúng ta khi bị căng thẳng - stress. Lối viết giản dị, mộc mạc, hóm hỉnh của những cuốn sách này sẽ giúp bạn trở nên thư thái hơn, làm cân bằng trạng thái cảm xúc đang ngổn ngang, khó chịu.</p>
                            <div class="tag-wtih-social">
                                <div class="tag">
                                    <span class="title text-primary">Tags:</span>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">Furniture,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Electronic,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Fashion</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social-link">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pinterest-p"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-dribbble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

