<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="/">
                                <img src="~/assets/images/logo/dark.png" alt="Logo" style="height:200px">
                            </a>
                        </div>
                        <p class="short-desc mb-2">Shop bán sách Hồng Hà Book</p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <a href="https://www.google.com/maps/place/25+%C4%90%C6%B0%E1%BB%9Dng+Sen+H%E1%BB%93,+Ho%C3%A0ng+Ninh,+Vi%E1%BB%87t+Y%C3%AAn,+B%E1%BA%AFc+Giang">
                                        <i class="pe-7s-map-marker"></i>
                                        Địa chỉ: 25 đường Sen Hồ thị trấn Nếnh - Việt Yên - Bắc Giang
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-mobile"></i>
                                    <a href="tel:035669665">035.669.665</a>
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://chubahuongltkka@gmail.com">chubahuongltkka@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="payment-method">
                            <a href="javascript:void(0)">
                                <img src="/assets/images/payment/2.png" alt="Payment Method">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Thông tin</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">Điểm sách</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Liên hệ</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Tra cứu đơn hàng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Đăng ký</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Đăng nhập</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Hỗ trợ khách hàng</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">Điều khoản sử dụng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Hướng dẫn mua hàng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Phương thức thanh toán</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Phương thức giao hàng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Chính sách đổi trả</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Bảo mật thông tin</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#FF0000">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">© HỒNG HÀ BOOK shop bán sách uy tín hàng đầu Việt Nam <i class="fa fa-heart text-danger"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>