@{
    ViewData["Title"] = "Index";

}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thống kê</h1>
            </div>
            <div class="clo sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">Thống kê doanh thu</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Title</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget-"collapse" title="Collapse">
                    <i class="fas fa mimus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget-"collapse" title="Remove">
                    <i class="fas fa-time"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body">
                <div class="chart">
                    <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
            </div>

            <!-- /.card-body -->
        </div>
    </div>
    <input type="submit" class="btn btn-primary" name="submitBtn" id="btnSave" value="Thống kê" />
    <div class="card-footer">
        footer
    </div>
</section>
<script src="~/template/plugins/chart.js/Chart.min.js"></script>
<script src="~/template/plugins/moment/moment.min.js"></script>

@section scripts{
    <script>
        $(function () {

            //var arrLoiNhuan = [];
            //var arrDate[];

            $.ajax({
                url: '/Admin/Statistical/GetStatistical',
                type: 'GET',
                data: {},
                success: function (rs) { 
                    
                    $.each(rs.data, function(i, item){
                        var strDate = moment(item.date).format()
                        console.log(item.date);
                        
                    });
                }
            });
            
            var areaChartData = {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [
                    {
                        label: 'Lợi nhuận',
                        backgroundColor: 'rgba(60,141,188,0.9)',
                        borderColor: 'rgba(60,141,188,0.8)',
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [28, 48, 40, 19, 86, 27, 90]
                    },
                    {
                        label: 'Doanh thu',
                        backgroundColor: 'rgba(210, 214, 222, 1)',
                        borderColor: 'rgba(210, 214, 222, 1)',
                        pointRadius: false,
                        pointColor: 'rgba(210, 214, 222, 1)',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                ]
            }

            //-------------
            //- BAR CHART -
            //-------------
            var barChartCanvas = $('#barChart').get(0).getContext('2d')
            var barChartData = $.extend(true, {}, areaChartData)
            var temp0 = areaChartData.datasets[0]
            var temp1 = areaChartData.datasets[1]
            barChartData.datasets[0] = temp1
            barChartData.datasets[1] = temp0

            var barChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                datasetFill: false
            }

            new Chart(barChartCanvas, {
                type: 'bar',
                data: barChartData,
                options: barChartOptions
            })

        })

    </script>
}
