@{
    ViewData["Title"] = "Index";

}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thống kê</h1>
            </div>
            <div class="clo sm-6">
                <ol class="breadcrumb float-sm-right">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <li class="breadcrumb-item">Trang chủ / </li>
                    </a>
                    <li class="breadcrumb-item">Thống kê doanh thu</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="form-row">
        @*<div class="form-group col-md-4">
        <input id="FormDate" name="FormDate" class="form-control" placeholder="Ngày bắt đầu 'DD/MM/yyyy'" />
        </div>
        <div class="form-group col-md-4">
        <input id="ToDate" name="ToDate" class="form-control" placeholder="Ngày bắt kết thúc 'DD/MM/yyyy'" />
        </div>*@
        <div class="form-group col-md-4">
            <input id="FormDate" name="FormDate" class="form-control" type="date" />
        </div>
        <div class="form-group col-md-4">
            <input id="ToDate" name="ToDate" class="form-control" type="date" />
        </div>
        <div class="form-group col-md-4">
            <input id="filter" type="submit" value="Lọc" class="btn btn-primary" />
        </div>
    </div>
</section>


<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thống kê doanh thu</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget-"collapse" title="Collapse">
                    <i class="fas fa mimus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget-"collapse" title="Remove">
                    <i class="fas fa-time"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body">
                <div class="chart">
                    <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
            </div>

            <!-- /.card-body -->
        </div>
        <div class="col-sm-6" id="totalMoney"></div>
    </div>
    <div class="card-footer">
        <h3 class="card-title">footter</h3>
        <br />
    </div>
</section>
<script src="~/template/plugins/chart.js/Chart.min.js"></script>
<script src="~/template/plugins/moment/moment.min.js"></script>

@section scripts{
    <script>
        $(function () {

            var total = 0;
            var arrDoanhThu = [];
            var arrDate = [];
            $.ajax({
                url: '/Admin/Statistical/GetStatistical',
                type: 'GET',
                data: {},
                success: function (rs) {
                    $.each(rs.data, function (i, item) {
                        var strDate = moment(item.date).format('DD/MM/yyyy');
                        arrDate.push(strDate);
                        arrDoanhThu.push(item.doanhThu);
                    });
                    var areaChartData = {
                        labels: arrDate,
                        datasets: [
                            {
                                label: 'Lợi nhuận',
                                backgroundColor: 'rgba(60,141,188,0.9)',
                                borderColor: 'rgba(60,141,188,0.8)',
                                pointRadius: false,
                                pointColor: '#3b8bba',
                                pointStrokeColor: 'rgba(60,141,188,1)',
                                pointHighlightFill: '#fff',
                                pointHighlightStroke: 'rgba(60,141,188,1)',
                                data: [0, 0, 0, 0, 0, 0, 0, 0]
                            },
                            {
                                label: 'Doanh thu',
                                backgroundColor: 'rgba(210, 214, 222, 1)',
                                borderColor: 'rgba(210, 214, 222, 1)',
                                pointRadius: false,
                                pointColor: 'rgba(210, 214, 222, 1)',
                                pointStrokeColor: '#c1c7d1',
                                pointHighlightFill: '#fff',
                                pointHighlightStroke: 'rgba(220,220,220,1)',
                                data: arrDoanhThu
                            },
                        ]
                    }

                    //-------------
                    //- BAR CHART -
                    //-------------
                    var barChartCanvas = $('#barChart').get(0).getContext('2d')
                    var barChartData = $.extend(true, {}, areaChartData)
                    var temp0 = areaChartData.datasets[0]
                    var temp1 = areaChartData.datasets[1]
                    barChartData.datasets[0] = temp1
                    barChartData.datasets[1] = temp0

                    var barChartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,
                        datasetFill: false
                    }

                    new Chart(barChartCanvas, {
                        type: 'bar',
                        data: barChartData,
                        options: barChartOptions
                    });
                    $("#totalMoney").html('Tổng tiền: ' + VND.format(total));
                }
            });
            $("#filter").click(function () {
                var total = 0;
                var arrDoanhThu = [];
                var arrDate = [];
                var FormDate = $('#FormDate').val();
                var ToDate = $('#ToDate').val();
                $.ajax({
                    url: '/Admin/Statistical/GetStatistical',
                    type: 'GET',
                    data: { formDate: FormDate, toDate: ToDate },
                    success: function (rs) {
                        $.each(rs.data, function (i, item) {
                            var strDate = moment(item.date).format('DD/MM/yyyy');
                            arrDate.push(strDate);
                            arrDoanhThu.push(item.doanhThu);
                            total += item.doanhThu;
                        });
                        var areaChartData = {
                            labels: arrDate,
                            datasets: [
                                {
                                    label: 'Lợi nhuận',
                                    backgroundColor: 'rgba(60,141,188,0.9)',
                                    borderColor: 'rgba(60,141,188,0.8)',
                                    pointRadius: false,
                                    pointColor: '#3b8bba',
                                    pointStrokeColor: 'rgba(60,141,188,1)',
                                    pointHighlightFill: '#fff',
                                    pointHighlightStroke: 'rgba(60,141,188,1)',
                                    data: [0, 0, 0, 0, 0, 0, 0]
                                },
                                {
                                    label: 'Doanh thu',
                                    backgroundColor: 'rgba(210, 214, 222, 1)',
                                    borderColor: 'rgba(210, 214, 222, 1)',
                                    pointRadius: false,
                                    pointColor: 'rgba(210, 214, 222, 1)',
                                    pointStrokeColor: '#c1c7d1',
                                    pointHighlightFill: '#fff',
                                    pointHighlightStroke: 'rgba(220,220,220,1)',
                                    data: arrDoanhThu
                                },
                            ]
                        }

                        //-------------
                        //- BAR CHART -
                        //-------------
                        var barChartCanvas = $('#barChart').get(0).getContext('2d')
                        var barChartData = $.extend(true, {}, areaChartData)
                        var temp0 = areaChartData.datasets[0]
                        var temp1 = areaChartData.datasets[1]
                        barChartData.datasets[0] = temp1
                        barChartData.datasets[1] = temp0

                        var barChartOptions = {
                            responsive: true,
                            maintainAspectRatio: false,
                            datasetFill: false
                        }

                        new Chart(barChartCanvas, {
                            type: 'bar',
                            data: barChartData,
                            options: barChartOptions
                        });
                        const VND = new Intl.NumberFormat('vi-VN', {
                            style: 'currency',
                            currency: 'VND',
                        });
                        $("#totalMoney").html('Tổng tiền: ' + VND.format(total));
                    }
                });
            });

        })
    </script>
}
